/* *{
    margin:0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(207, 134, 8);
    color: #fffbff;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 20px;
    padding: 5px;
    font-size: 18px;
}
.H2{
    padding: 10px;
} 
button{
    cursor: pointer;
    size: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
} */

.container{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
    margin: 20px;
    padding: 20px;
    height: 200px;
    border: 1px solid rgb(78, 75, 75);
}

.box{
    padding: 40px;
    background-color: coral;
    text-align: center;
    width: 120px;
    height: 100px;
}

.box2{
    background-color: cadetblue;
}

.box3{
    background-color: rgb(100, 160, 95);
}